@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.header {
	font-family: 'Open Sans', sans-serif;
  	padding: 30vh;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgb(69, 36, 99),
     rgb(134, 70, 194)
     );
	background-size: cover;
  	background-position: top;
	position: relative;
}
.header h1{
	margin-bottom: 5vh;
}
.header h5{
	margin-bottom: 2vh;
}

/* Social icons original and hover style */
.spacedlink{
	text-decoration: underline;
	margin-left: .3em;
	margin-right: .3em;
	color: #c9c9c9;
}
.spacedlink :hover {
	color: #fff;
}

.footer {
	margin: 8vh 0 0 0;
	color: #7C7C7C;
  	background-image: 
	  linear-gradient(to left bottom, 
     #343a40,
     #1d2024
     );
	background-size: cover;
  	background-position: top;
  	position: relative;
}

@media screen and (min-width: 768px) {
	.header{
		padding: 25vh;
	}
	.header h1{
		margin-bottom: 2vh;
	}
	.header h5{
		margin-bottom: 1vh;
	}
	.footer{
		padding: 4vh;
	}
}
