/* Basics Header and footer properties */
.header {
  	height: 50vh;
  	background-image: 
	  linear-gradient(to right bottom, 
     rgb(69, 36, 99),
     rgb(134, 70, 194)
     );
	background-size: cover;
  	background-position: top;
  	position: relative;
  	/* clip-path: polygon(
      0 0,
      100% 0,
      100% 45vh,
      0 100%
    ); */
}
.brand { font-size: 20px; }
.footer {
  	height: 20vh;
  	background-image: 
	  linear-gradient(to left bottom, 
     #343a40,
     #1d2024
     );
	background-size: cover;
  	background-position: top;
  	position: relative;
}
