/* ORIGINAL React-style */
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

/* Margin management */
.spacer {
  margin-top: 12vh;
  margin-bottom: 12vh;
}
.mini-spacer {
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.title-spacer {
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.black-background {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  color: white;
}

/* Img size */
.img-spacer{
  margin-left: 5vh;
  margin-right: 5vh;
}